/*Tumblr Global Appearance */
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 1280px) and (min-width:601px) {
}
@media screen and (min-width: 1281px) {
}


/* -----------------------------------------------------------
Wrap
----------------------------------------------------------- */


.wrap{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

@media screen and (max-width: 600px) {
  .wrap{
    width: auto;
    margin: 0 0 0;
  }
}
@media screen and (max-width: 1280px) and (min-width:600px) {
	.wrap{
		width: auto;
		margin: 0 0 0;
	}
}
@media screen and (min-width: 1281px) {
	.wrap{
		width: 1280px;
		margin: 0 auto;
		text-align: left;
	}
}

/* -----------------------------------------------------------
Header
----------------------------------------------------------- */

.header{
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
}

.header > .wrap{
  position: absolute;
}

.header__menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding: 0 1rem;
  width: auto;
}

.header__menu-item {
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  width: auto;
  margin: 0 0;
  padding: 0.2rem 0.5rem;
  color: #fff;
  z-index: 99;
}

.header__menu-item:hover {
  background: rgba(2,2,2,0.8);
  border-radius: 0.8rem;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all  0.8s ease;
}

@media screen and (max-width: 600px) {
  .header{
    height: 2.8rem;
  }
  .header__menu-item {
    margin-top: 0.6rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280px) and (min-width:601px) {
  .header{
    height: 2.6rem;
  }
  .header__menu-item {
    margin-top: 0.3rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1281px) {
  .header{
    height: 2.6rem;
    /* left: calc((100vw - 1280px) / 2 );
    width: 1280px; */
  }
  .header__menu-item {
    width: auto;
    margin: 0 1%;
    margin-top: 0.2rem;
    font-size: 1.8rem;
  }
}


/* -----------------------------------------------------------
about
----------------------------------------------------------- */

.about {
  /* background: #fff; */
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  margin-bottom: 0;
}

.about__top {
  position: absolute;
  top:-33.3vh;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.about__border{
  position: absolute;
  background: linear-gradient(#000, rgba(0,0,0,0));/*(#05FBFF, #1E00FF)*/;
  width: 100%;
  height: 25vw;
  /* padding: 0 0 33.3vh; */
  top: 66.6vh;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 100vw;
  }
}
@media screen and (max-width: 1280px) and (min-width:601px) {
  .about {
    font-size: 100vw;
  }
}
@media screen and (min-width: 1281px) {
  .about {
    font-size: 1280px;
  }
}

.logo {
  height: auto;
  width: auto;
  position: sticky;
  margin-top: 33.3vh;
  overflow:hidden;
  z-index: 50;
}

@media screen and (max-width: 600px) {
  .logo {
    top: 2.7rem;
  }
}
@media screen and (max-width: 1280px) and (min-width:601px) {
  .logo {
    top: 2.5rem;
  }
}
@media screen and (min-width: 1281px) {
  .logo {
    top: 2.5rem;
  }
}



.logo__text {
  /* background: #000; */
  width: auto;
  font-family: 'Anton', sans-serif;
  font-size: 17.3%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 0;
  left: -1.3%;
  white-space: nowrap;
}

  @keyframes noise-anim {
  0% { clip: rect(1vw, 9999px, 0vw, 0); }
  5% { clip: rect(8vw, 9999px, 3vw, 0); }
  10% { clip: rect(5vw, 9999px, 2vw, 0); }
  15% { clip: rect(10vw, 9999px, 5vw, 0); }
  20% { clip: rect(3vw, 9999px, 10vw, 0); }
  25% { clip: rect(7vw, 9999px, 12vw, 0); }
  30% { clip: rect(8vw, 9999px, 7vw, 0); }
  35% { clip: rect(5vw, 9999px, 15vw, 0); }
  40% { clip: rect(9vw, 9999px, 20vw, 0); }
  45% { clip: rect(11vw, 9999px, 3vw, 0); }
  50% { clip: rect(5vw, 9999px, 2vw, 0); }
  55% { clip: rect(20vw, 9999px, 12vw, 0); }
  60% { clip: rect(12vw, 9999px, 11vw, 0); }
  65% { clip: rect(2vw, 9999px, 5vw, 0); }
  70% { clip: rect(3vw, 9999px, 2vw, 0); }
  75% { clip: rect(1vw, 9999px, 14vw, 0); }
  80% { clip: rect(15vw, 9999px, 12vw, 0); }
  85% { clip: rect(7vw, 9999px, 6vw, 0); }
  90% { clip: rect(1vw, 9999px, 13vw, 0); }
  95% { clip: rect(2vw, 9999px, 1vw, 0); }
  100% { clip: rect(1vw, 9999px, 23vw, 0); }
  }
  .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
  0% { clip: rect(1vw, 9999px, 0vw, 0); }
  5% { clip: rect(8vw, 9999px, 3vw, 0); }
  10% { clip: rect(5vw, 9999px, 2vw, 0); }
  15% { clip: rect(10vw, 9999px, 5vw, 0); }
  20% { clip: rect(3vw, 9999px, 10vw, 0); }
  25% { clip: rect(7vw, 9999px, 12vw, 0); }
  30% { clip: rect(8vw, 9999px, 7vw, 0); }
  35% { clip: rect(5vw, 9999px, 15vw, 0); }
  40% { clip: rect(9vw, 9999px, 20vw, 0); }
  45% { clip: rect(11vw, 9999px, 3vw, 0); }
  50% { clip: rect(5vw, 9999px, 2vw, 0); }
  55% { clip: rect(20vw, 9999px, 12vw, 0); }
  60% { clip: rect(12vw, 9999px, 11vw, 0); }
  65% { clip: rect(2vw, 9999px, 5vw, 0); }
  70% { clip: rect(3vw, 9999px, 2vw, 0); }
  75% { clip: rect(1vw, 9999px, 14vw, 0); }
  80% { clip: rect(15vw, 9999px, 12vw, 0); }
  85% { clip: rect(7vw, 9999px, 6vw, 0); }
  90% { clip: rect(1vw, 9999px, 13vw, 0); }
  95% { clip: rect(2vw, 9999px, 1vw, 0); }
  100% { clip: rect(1vw, 9999px, 23vw, 0); }
  }
  .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

.about-description {
  /* background: #FFF no-repeat; */
  /* background-size: 95% auto; */
  height: auto;
  min-height: 100vh;
  /* background-attachment: fixed; */
  /* background-image: url(image/prof22.jpg); */
  background-position: center 50%;
}

/* @media screen and (min-width: 1281px) {
  .about-description {
    background-size: 90% auto;
    background-position: center 20%;
  }
} */

.about-description.fixed-background.bg-about:before {
  width: 100vw;
  height: 40vw;
  top: calc((100vh - 50vw) / 2);
}

@media screen and (min-width: 1281px) {
  .about-description.fixed-background.bg-about:before {
    width: 1280px;
    height: 40vw;
    top: calc((100vh - 50vw) / 2);
    left: calc((100vw - 1280px) / 2);
  }
}


.about-description__text {
  font-family: 'Maven Pro', sans-serif;
  position: sticky;
  margin-top: calc(100vh - 33.3vh - 17.3vw);
  width: 100%;
  height: auto;
  min-height: 50vh;
  color: #fff;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 30vh;
  padding-bottom: 5vh;
}


.about-description__text p{
  text-shadow: -2px 0 red,2px 0 blue;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 4rem 3rem;
  text-justify:inter-ideograph;
}

.about-description__member {
	text-align: center;
  margin: 0% 30% 10% 30%;
}

.about-description__member dt {
  text-shadow: -1px 0 red,1px 0 blue;
	font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.about-description__member dd {
  text-shadow: -1px 0 red,1px 0 blue;
	font-size: 2rem;
  margin-bottom: 0.7rem;
}





/* -----------------------------------------------------------
info
----------------------------------------------------------- */
.info{
  width: auto;
  height: auto;
  text-align: center;
}

.info__background {
  position: relative;
  /* transform: skewY(-5deg); */
  background: linear-gradient(#05FBFF, #1E00FF);
  /* margin: -50px 0 -50px calc(-( (100vw - 1280px) / 2)); */
  /* margin-top: -5rem; */
  margin-bottom: 0;
  width: 100%;
  padding: 5rem 0 100vh;
  z-index: 2;
}

.title{
  font-size: 1.7rem;
  color: #543;
  margin-bottom: 5rem;
}

time{
  font-size: 1.5rem;
  color: #123;
}

span{
  font-size: 1rem;
  color: #678;
}

/* -----------------------------------------------------------
Schadule
----------------------------------------------------------- */

  .schadule {
    height: auto;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 7rem;
  }

  .schadule > .title {
    text-shadow: 0 0 0.5rem #FFF;
  }

  .schadule__list {
  	width: 98%;
  	display: -webkit-flex;
  	-webkit-flex-flow: row wrap;
  	-webkit-justify-content: space-between;
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-between;
  	padding: 0 1%;
  	margin-bottom: 2rem;
  	list-style-type: none;
  	color: #009ea9;
  }

  .schadule__list > li {
  	width: 46%;
  	padding: 1%;
  	margin: 1%;
  	margin-bottom: 2rem;
  	overflow: hidden;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .schadule__list > .live {
      display: inline;
  }

  .schadule__list .live-date {
  	color: #fff;
  	font-size: 1.4rem;
  	line-height: 1.4;
  }

  .schadule__list .live-title {
  	color: #d20661;
  	font-size: 1.4rem;
  	margin-bottom: 1rem;
  }

  .schadule__list {
  	color: #999;
  }

  .schadule__list ul {
  	margin-bottom: 1rem;
  	list-style-type: none;
  }

  .schadule__list p {
  	font-size: .8rem;
  }

  .schadule__list .live-txt {
  	float: left;
  	width: 50%;
    color: #dc2c32;
  }

  .schadule__list .live-flyer {
  	float: right;
  	width: 50%;
  	background: #000;
  }

  .live-flyer img{
  	width: 100%;
  }

  @media only screen and (max-width: 600px) {

  	.schadule__list > li {
  		width: 96%;
  	}

  	.schadule__list .live-date,
  	.schadule__list .live-title {
  		text-align: center;
  	}

  	.schadule__list .live-txt {
  		float: none;
  		width: 100%;
      font-size: 1.2rem;
  	}

    .schadule__list p {
    	font-size: 1rem;
    }
  }



/* -----------------------------------------------------------
Discography
----------------------------------------------------------- */
.discography {
  height: auto;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#B4A899, #F8F7EC);
  padding-top: 7rem;
  text-align: center;
}

/* -----------------------------------------------------------
Contact
----------------------------------------------------------- */
.contact {
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 7rem;
  text-align: center;
}

.contact > .title {
  text-shadow: 0 0 0.5rem #FFF,0 0 0.5rem #FFF,0 0 0.5rem #FFF;
}

.mailform {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
  text-align: left;
}

.mailform dt {
	float: none;
	width: 90%;
  margin-left: 5%;
	margin-bottom: 0.5rem;
  color: #d20661;
	font-size: 1.4rem;
}

.mailform label {
  background-color: rgba(255, 255, 255, 0.8);
}

.mailform dd {
	float: none;
	width: 90%;
  margin-left: 5%;
	margin-bottom: 2rem;
}

.mailform input {
	width: 97%;
	color: #009ea9;
	font-size: 1rem;
	padding: .5rem;
	background: #000;
	border: 1px solid #fff;
}

.mailform input::-webkit-input-placeholder{color:#555;}
.mailform input::-moz-placeholder{color:#555;}
.mailform input:-ms-input-placeholder{color:#555;}

.mailform textarea {
	width: 97%;
	height: 8rem;
	color: #009ea9;
	font-size: 1rem;
	padding: .5rem;
	background: #000;
	border: 1px solid #fff;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, '游ゴシック',
	'Yu Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ',
	 arial, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.mailform textarea::-webkit-input-placeholder{color:#555;}
.mailform textarea::-moz-placeholder{color:#555;}
.mailform textarea:-ms-input-placeholder{color:#555;}

.send-btn {
	text-align: center;
}

.button {
	width: 20%;
	font-size: 1.2rem;
	color: #fff;
	background: #147eb7;
	padding: .5rem;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
}

.button:hover {
	background: #a1512c;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {

}



/* -----------------------------------------------------------
Footer
----------------------------------------------------------- */

#footer-area {
  position: fixed;
  height: 3rem;
  bottom: 0;
  background: #FFF bottom center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  #footer-area {
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  #footer-area {
    height: 450px;
    width: 600px;
    left:calc(50% - 600px/2);
  }
}

#footer-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  content: ""
}

#footer {
  font-family: 'Maven Pro', sans-serif;
  position: relative;
  height: 2rem;
  color: #000;
  padding-top: 1px;
  box-sizing: border-box;
	text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#top-link {
  margin: 0;
	text-align: center;
  color: #000 !important;
}
#copyright {
  margin-bottom: 0;
  left: auto;
	text-align: center;
}
