/*Tumblr Global Appearance */
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 1280px) and (min-width:601px) {
}
@media screen and (min-width: 1281px) {
}




/* -----------------------------------------------------------
Header
----------------------------------------------------------- */

.header{
  background: #000;
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 99;
}

.header__menu {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding: 0 0;
  width: 100%;
}

.header__menu-item {
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  background: #333;
  height: 100%;
  width: auto;
  margin: 0 0;
  padding: 0.2rem 0.5rem;
  color: #fff;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  .header{
    height: 2.8rem;
  }
  .header__menu-item {
    margin-top: 0.6rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280px) and (min-width:601px) {
  .header{
    height: 2.6rem;
  }
  .header__menu-item {
    margin-top: 0.3rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1281px) {
  .header{
    height: 2.6rem;
    left: calc((100vw - 1280px) / 2 - 10px);
    width: 1290px;
  }
  .header__menu-item {
    width: auto;
    margin: 0 1%;
    margin-top: 0.2rem;
    font-size: 1.8rem;
  }
}

/* -----------------------------------------------------------
Wrap
----------------------------------------------------------- */


.wrap{
  position: relative;
}

@media screen and (max-width: 600px) {
  .wrap{
    width: auto;
    margin: 0 0 0;
  }
}
@media screen and (max-width: 1280px) and (min-width:600px) {
	.wrap{
		width: auto;
		margin: 0 0 0;
	}
}
@media screen and (min-width: 1281px) {
	.wrap{
		width: 1280px;
		margin: 0 auto 0;
		text-align: left;
	}
}

/* -----------------------------------------------------------
about
----------------------------------------------------------- */

.about {
  background: #000;
  position: relative;
  width: auto;
  height: auto;
  padding-top: 33.3vh;
  margin-bottom: auto;
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 100vw;
  }
}
@media screen and (max-width: 1280px) and (min-width:601px) {
  .about {
    font-size: 100vw;
  }
}
@media screen and (min-width: 1281px) {
  .about {
    font-size: 1280px;
  }
}

.logo {
  height: auto;
  width: auto;
  position: sticky;
  /* margin-bottom: calc(100vh - 33.3vh - 18%); */
  top: 1.5vw;
  background: rgba(0, 100, 0, 0.5);
  overflow:hidden;
  z-index: 50;
}

@media screen and (max-width: 600px) {
  .logo {
    top:2rem;
  }
}
@media screen and (max-width: 1280px) and (min-width:601px) {
  .logo {
    top:1.6rem;
  }
}
@media screen and (min-width: 1281px) {
  .logo {
    top:1.8rem;
  }
}

.logo__text {
  /* background: #000; */
  width: auto;
  font-family: 'Anton', sans-serif;
  font-size: 17.3%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 0;
  left: -1.3%;
  white-space: nowrap;
}

  @keyframes noise-anim {
  0% { clip: rect(1vw, 9999px, 0vw, 0); }
  5% { clip: rect(8vw, 9999px, 3vw, 0); }
  10% { clip: rect(5vw, 9999px, 2vw, 0); }
  15% { clip: rect(10vw, 9999px, 5vw, 0); }
  20% { clip: rect(3vw, 9999px, 10vw, 0); }
  25% { clip: rect(7vw, 9999px, 12vw, 0); }
  30% { clip: rect(8vw, 9999px, 7vw, 0); }
  35% { clip: rect(5vw, 9999px, 15vw, 0); }
  40% { clip: rect(9vw, 9999px, 20vw, 0); }
  45% { clip: rect(11vw, 9999px, 3vw, 0); }
  50% { clip: rect(5vw, 9999px, 2vw, 0); }
  55% { clip: rect(20vw, 9999px, 12vw, 0); }
  60% { clip: rect(12vw, 9999px, 11vw, 0); }
  65% { clip: rect(2vw, 9999px, 5vw, 0); }
  70% { clip: rect(3vw, 9999px, 2vw, 0); }
  75% { clip: rect(1vw, 9999px, 14vw, 0); }
  80% { clip: rect(15vw, 9999px, 12vw, 0); }
  85% { clip: rect(7vw, 9999px, 6vw, 0); }
  90% { clip: rect(1vw, 9999px, 13vw, 0); }
  95% { clip: rect(2vw, 9999px, 1vw, 0); }
  100% { clip: rect(1vw, 9999px, 23vw, 0); }
  }
  .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
  0% { clip: rect(1vw, 9999px, 0vw, 0); }
  5% { clip: rect(8vw, 9999px, 3vw, 0); }
  10% { clip: rect(5vw, 9999px, 2vw, 0); }
  15% { clip: rect(10vw, 9999px, 5vw, 0); }
  20% { clip: rect(3vw, 9999px, 10vw, 0); }
  25% { clip: rect(7vw, 9999px, 12vw, 0); }
  30% { clip: rect(8vw, 9999px, 7vw, 0); }
  35% { clip: rect(5vw, 9999px, 15vw, 0); }
  40% { clip: rect(9vw, 9999px, 20vw, 0); }
  45% { clip: rect(11vw, 9999px, 3vw, 0); }
  50% { clip: rect(5vw, 9999px, 2vw, 0); }
  55% { clip: rect(20vw, 9999px, 12vw, 0); }
  60% { clip: rect(12vw, 9999px, 11vw, 0); }
  65% { clip: rect(2vw, 9999px, 5vw, 0); }
  70% { clip: rect(3vw, 9999px, 2vw, 0); }
  75% { clip: rect(1vw, 9999px, 14vw, 0); }
  80% { clip: rect(15vw, 9999px, 12vw, 0); }
  85% { clip: rect(7vw, 9999px, 6vw, 0); }
  90% { clip: rect(1vw, 9999px, 13vw, 0); }
  95% { clip: rect(2vw, 9999px, 1vw, 0); }
  100% { clip: rect(1vw, 9999px, 23vw, 0); }
  }
  .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

.about-description {
  height: auto;
  min-height: 100vh;
  width:auto;
  margin-top: calc(100vh - 33.3vh - 18%);
  background-color: #000;
}

.about-description__image {
  position: sticky;
  top: 17vw;
  background: #444 no-repeat;
  background-size: cover;
  height: 76vw;
  max-height: 100vh;
  z-index: 10;
  margin: 0 0%;
}

.about-description__text {
  font-family: 'Maven Pro', sans-serif;
  position: sticky;
  margin: 0 0;
  width: 100%;
  height: auto;
  min-height: 50vh;
  color: #fff;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50vh;
  padding-bottom: 5vh;
}

.about-description__text p{
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 4rem 3rem;
  text-justify:inter-ideograph;
}

.about-description__member {
	text-align: center;
  margin: 0 30%;
}

.about-description__member dt {
	font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.about-description__member dd {
	font-size: 2rem;
  margin-bottom: 0.7rem;

}

.secondbox {
  background-color: #000;
  padding: 5rem;
  width: auto;
}

/* -----------------------------------------------------------
info
----------------------------------------------------------- */


.info{
  width: auto;
  height: auto;
  text-align: center;
}

.info__background {
  transform: skewY(-5deg);
  background: linear-gradient(#05FBFF, #1E00FF);
  /* margin: -50px 0 -50px calc(-( (100vw - 1280px) / 2)); */
  margin-top: -50px;
  margin-bottom: -50px;
  width: 100vw;
  padding: 5rem 0 100vh;
}

@media screen and (min-width: 1281px) {
	.info__background {
    margin-left: calc((1280px - 100vw)/2);
  }
}

.title{
  font-size: 1.7rem;
  color: #543;
}

time{
  font-size: 1.5rem;
  color: #123;
}

span{
  font-size: 1rem;
  color: #678;
}

.fixed {
  height:100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-image: url(image/middle.jpg);

  &.bg-middle { background-image: url(https://78.media.tumblr.com/28fef11baeda9bc33a967b18d1c27749/tumblr_p2wh8kEnAZ1x2nz8ro1_1280.jpg); }
}

/* -----------------------------------------------------------
Footer
----------------------------------------------------------- */


#footer-area {
  position: fixed;
  height: 440px;
  bottom: 0;
  background: #455 bottom center no-repeat;
  background-size: cover;
  z-index: -100;

}
@media screen and (max-width: 600px) {
  #footer-area {
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  #footer-area {
    height: 450px;
    width: 600px;
    left:calc(50% - 600px/2);
  }
}

#footer-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  content: ""
}

#footer {
  font-family: 'Maven Pro', sans-serif;
  position: relative;
  height: 440px;
  color: #FFF;
  padding-top: 1px;
  box-sizing: border-box;
	text-align: center;
}

#top-link {
  margin: 10%;
	text-align: center;
}
#copyright {
  margin-bottom: 10%;
  left: auto;
	text-align: center;
}



iframe.tmblr-iframe--unified-controls{
	display: none;
}
iframe.iframe-controls--phone-mobile {
	display: none;
}
iframe.tmblr-iframe--app-cta-button.tmblr-iframe--loaded {
	display: none;
}
